/*h1 {
    color: aqua; 
} */
nav{
    display: flex;
    justify-content: space-between;
    padding-left: 20%;
    padding-right: 20%;
}
div{
    align-content: center;
    align-items: center;
}
nav ul a li{
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
}